<% include common/header.ejs %>

<div class="menu_wrap">
    <div class="menu_links">
        <ul>
            <li><a class="first" href="#">Головна</a></li>
            <li><a href="#">Про нас</a></li>
            <li><a href="#">Контакти</a></li>
            <li><a href="#">Посилання</a></li>
            <li>  <a href="tel:0442225222" class="phone">(044) 555 5 555</a></li>
        </ul>
    </div>
    <div class="menu_buttons">
        <div class="social twitter">
            <a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        </div>

        <div class="social facebook">
            <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
        </div>
        <div class="social skype">
            <a href="#" target="_blank"><i class="fa fa-skype fa-2x"></i></a>

        </div>

    </div>


</div>



<div class = "centre" >
    <a class="sq-btn btn-one">Registration</a>

    <a class="sq-btn btn-two">Enter</a>

</div>


</div>


<% include common/footer.ejs %>