
<div class ="find1">

    <div class="social twitter">
        <a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    </div>

    <div class="social facebook">
        <a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    </div>
    <div class="social skype">
        <a href="#" target="_blank"><i class="fa fa-skype fa-2x"></i></a>
    </div>

</div>

</div>










<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>

</body>
</html>