<div class = "centre" >

    <div class ="twoButtons">


        <div id ="create"class="btn1 btn-warning"onClick="location.href='create.html';" >Create</div>

        <div id ="check"class="btn2 btn-warning"onClick="location.href='check.html';" >Check</div>



    </div>